.Menu {
  font-size: 9.4px;
  list-style: none;
  color: white;
  background-color:rgb(48, 48, 48);
  opacity: 0.99;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  position: fixed; 
  top: 0;
  width: 100%; 


  &--image {
    font-size: 18px;
    margin-right: 10px;
  }

  &--item {
    padding: 7px;
    margin-left: 12px;
  }

  &--item:hover {
    cursor: pointer;
  }

}